/*général*/

html {
    font-size: 62.5%;
}

body {
    background-image: url("./images/clairfondecran.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Bree Serif", serif;
}

.App {
    text-align: center;
}

.App-header {
    background-image: linear-gradient( to bottom, rgb(47, 59, 59) 0%, rgb(147, 159, 159) 98%, transparent 100%);
    /* height: 10rem; */
    padding: 2rem;
    color: white;
    position: relative;
}

/*type pour élements*/

span {
    font-family: "Bree Serif", serif;
    font-style: italic;
    font-size: 1.5rem;
}

h1 {
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: 0.8rem;
}

h2 {
    font-size: 2.5rem;
    position: relative;
    /* /* top: 100%; */
    transform: translateY(25%);
}

h3 {
    font-size: 2.3rem;
    font-weight: bolder;
    background-image: linear-gradient( 120deg, transparent 0%, transparent 33%, rgb(120, 130, 150) 33%, rgb(212, 212, 212) 50%, rgb(120, 130, 150) 67%, transparent 67%, transparent 100%);
    height: 3rem;
}

h4 {
    font-size: 2rem;
    font-weight: bold;
}

h5 {
    font-size: 1.8rem;
}

/*classes spéciales*/

.droite {
    background-image: linear-gradient( 240deg, transparent 0%, transparent 33%, rgb(120, 130, 150) 33%, rgb(212, 212, 212) 50%, rgb(120, 130, 150) 67%, transparent 67%, transparent 100%);
}

.imgProfil {
    padding-top: 1rem;
    height: 25rem;
    width: auto;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
}

.pFont {
    font-size: 1.6rem;
    font-family: "Bree Serif", serif;
}

.headerFont {
    font-family: "Merriweather", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

.descriptionParcours {
    font-size: 1.2rem;
}

/*concernant la timeline*/

.dateLigne {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 75%;
    height: 2px;
    background-color: rgb(47, 59, 59);
}

.petitTrait {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 10%;
    height: 0.3rem;
    background-image: linear-gradient( transparent 0%, transparent 30%, rgb(47, 59, 59) 30%, rgb(47, 59, 59) 60%, transparent 60%, transparent 100%);
    border: none;
}

.traitHaut {
    position: relative;
    bottom: 1.3rem;
}

.traitBas {
    position: relative;
    top: 1.1rem;
}

.traitVertBas {
    position: relative;
    bottom: 0.6rem;
}

.traitVertHaut {
    position: relative;
    top: 0.6rem;
}

.colle {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    color: rgb(47, 59, 59);
    font-size: 2rem;
}